.profile{
    background-color: #f8f5f5;
    padding-top: 8rem;
    padding-bottom: 60px;
}
.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-photo img{
    border: 1px solid transparent;
    background-color: #620abc38;
    border-radius: 60% 16% 71% 25% ;
    width: 40%;
    height: max-content;
}
.profile-content h3{
    font-size: 26px;
}
.typer .typer-type{
    font-size: 26px;
    color: #AD8BD0;
    font-weight: 600;
}
.profile-photo { 
    overflow: hidden;
    width: 100%;
    padding-top: 40px;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23AD8BD0' d='M50.1,-39.6C64.6,-21.8,75.6,-1,71.8,16.7C68,34.4,49.4,49.1,28.1,60C6.8,70.9,-17.1,78,-35.7,70.5C-54.2,62.9,-67.3,40.6,-69.9,18.9C-72.5,-2.8,-64.6,-24,-51.1,-41.5C-37.7,-58.9,-18.9,-72.7,-0.5,-72.3C17.8,-71.9,35.7,-57.3,50.1,-39.6Z' transform='translate(100 100)' /%3E%3C/svg%3E");
}
@media (max-width:1023px){
    .profile-photo img{
        width: 150px;
        height: max-content;
    }
    .profile-photo{
        width: 100%; 
        margin-top:-30px;
        margin-bottom: 20px;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .two-button .button1{
        margin-bottom:30px;
    }
}
@media (max-width:767px){
    .two-button .button1{
        margin-bottom: 20px;
    }
    .profile .row{
        flex-direction: column-reverse;
    }
    .profile .row-z{
        flex-direction: row-reverse;
    }
}
.social-icon ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-right: 2rem;
}
.social-icon ul li a{
    border: 1px solid #fff;
    border-radius:30%;
    padding: 10px;
    margin-right: 2rem;
    font-size: 20px;
    background-color: #fff;
    font-size: 1.5rem;
    color: #AD8BD0;
    box-shadow: 0px 0px 5px rgba(192, 192, 192, 0.379);
} 
/* .social-icon ul li a{
    color: #AD8BD0;
} */
.social-icon ul li a:hover{
    color: #fff;
    background-color: #AD8BD0;
    border: 1px solid transparent;
}
.two-button button{
    width: 100%;
    height: 50px;
    font-weight: 800;
    font-size: 20px;
    border: none;
    border-radius: 50px;
}
.button2{
    background-color: #fff;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 5px rgba(192, 192, 192, 0.466);
}
.button2 a{
    color: #AD8BD0;
    text-decoration: none;
}
.button1{
    background-color: #AD8BD0;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 5px rgba(192, 192, 192, 0.466);
}
.button1 a{
    color: #fff;
    text-decoration: none;
}
.button1:hover, .button2:hover{
    transform: translateY(-8px);
}

