.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #AD8BD0;
    position: relative;
}
.cartoon img{
    width: 100%;
    height: max-content;
    filter: drop-shadow(0px 0px 13px #000);
}
form{
    border: 1px solid #000;
    background-color: silver;
    padding: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px 0px 8px #0000005b;
    /* position: relative; */
}
.success-message{
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 19;
    background-color: #0fff4fd4;;
    padding: 10px 20px;
    color: #fff; 
    font-weight: 600;
}
.inputbox input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.inputbox textarea{
    outline: none;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}
.inputbox span{
    color: #8027d9;
}
.submitbutton button{
    padding: 10px 20px;
    background-color: #AD8BD0;
    color: #fff;
    font-weight: 500;
    border: #AD8BD0;
}
.submitbutton button:hover{
    color: #000;
    box-shadow: 0px 0px 15px #000;
}











